<p>Bienvenido @{{ user.username }}!</p>

<p>
    Antes de empezar a trabajar como tecnico en <b>Tecnico Libre</b> necesitamos que hagas este ultimo paso.
    Entra al siguiente link <a href="">link</a>  y pega el siguiente codigo.
</p>

<p style="text-align:center">
    <code style="text-align:center">
        {{ token }}
    </code>
</p>
